# Obsidian-specific
.obsidian/
.cache/
workspace.json

# Quartz output and cache
/public/
.quartz-cache/

# Node + TypeScript
node_modules/
tsconfig.tsbuildinfo

# OS and editor files
.DS_Store

# Files/folders from starter repo you might not use
.gitignore
private/
prof/
.replit
replit.nix
